@import "../fragments/mixins";

.floatingActionButton {
  @include secondary-contrast;
  @include square(var(--sunshower-em-octet));
  @include center(var(--sunshower-em-octet));
  position: fixed;
  right: var(--sunshower-em-quintet);
  bottom: var(--sunshower-em-quintet);
  border-radius: 50%;

  vaadin-icon {
    @include square(var(--sunshower-em-triple));
    margin: 0;
  }
}