


contextual-help-element {

  display: block;

  &::part(main) {
    display: flex;
    position: absolute;
    top: var(--_vaadin-app-layout-navbar-offset-size);
    left:0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    flex-direction: row;
  }

  &::part(body) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--lumo-primary-background-color);
  }

  &::part(help) {
    height:100%;
    align-self: flex-end;
    background-color: #fdfdfd;
    border-left: 1px solid var(--lumo-contrast-5pct);
  }

  &::part(close) {
    padding: var(--sunshower-em);
    cursor: pointer;
    transition:none;
    min-width:0;

    &::slotted(vaadin-icon) {
      width: var(--sunshower-em-double) !important;
      height: var(--sunshower-em-double) !important;
      margin: 0;
    }

  }

}

