$fa-font-path: "../../assets/webfonts";
@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/duotone.scss";
@import "../fontawesome/solid.scss";
@import "../fontawesome/_duotone-icons.scss";
html {

  --primary-color: #660066;
  --secondary-color: #2385AF;
  --base-color: #FFFFFF;
  --alt-base-color: #f2f2f2;
  --error-color: #ED1C24;
  --success-color: #77CCA4;
  --sunshower-contrast: var(--lumo-contrast-30pct);


  --lumo-primary-color: var(--primary-color);
  --lumo-secondary-color: var(--secondary-color);
  --lumo-error-color: var(--error-color);
  --lumo-success-color: var(--success-color);
  --lumo-base-color: var(--base-color);
  //--lumo-secondary-base-color: var(--base-color);
  --vaadin-app-layout-navbar-background: var(--lumo-secondary-base-color);
  --lumo-primary-background-color: var(--alt-base-color);

  --sunshower-em: 8px;
  --sunshower-em-double: calc(var(--sunshower-em)*2);
  --sunshower-em-triple: calc(var(--sunshower-em)*3);
  --sunshower-em-quad: calc(var(--sunshower-em)*4);
  --sunshower-em-quintet: calc(var(--sunshower-em)*5);
  --sunshower-em-sextet: calc(var(--sunshower-em)*6);
  --sunshower-em-octet: calc(var(--sunshower-em)*8);
}

@import "fragments/mixins.scss";
@import "fragments/chrome.scss";


h1, h2, h3, h4, h5, h6  {
  font-weight: lighter !important;
}

[theme="spacing"] {
  gap: var(--sunshower-em);
}


vaadin-button {
  cursor: pointer;
}


globe-element {
  cursor: grab;
}

