
stratosphere-card {

  position: relative;
  display: block;
  &::part(header) {
    background-color: var(--base-color);
    color: var(--sunshower-contrast);
    box-sizing: border-box;
    margin:0;
    border: 1px solid var(--sunshower-contrast);
    border-top-right-radius: var(--sunshower-em);
    border-top-left-radius: var(--sunshower-em);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--sunshower-em);
  }

  &::part(toolbar) {
    display: flex;
    margin-left:auto;
  }

  &::part(title) {
    font-size: 0.8em;
    display:inline;
  }
  &::part(contents) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sunshower-contrast);
    border-top: unset;
    border-radius: var(--sunshower-em);
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    padding: var(--sunshower-em-double);
    background-color: var(--base-color);
    width: 312px;
    height: 312px;
  }

  &::part(contents).no-pad {
    padding: 0;
  }

}