stratosphere-card-group {
  display: flex;
  max-width: 312px;
  min-height: 312px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &::part(header) {

  }
  &::part(title) {
    text-align: center;
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-contrast-90pct);
  }
  &::part(subtitle) {
    text-align: center;
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-contrast-60pct);
  }
}