.chrome {
  &::part(navbar) {
    background-image: none;
  }
  .header {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--sunshower-em);
    img {
      @include square(var(--sunshower-em-quad));
    }
    h1 {
      color: var(--primary-color);
      font-size: var(--sunshower-em-quad);
      margin-top: unset;
      margin-bottom: unset;
      font-weight: lighter;
    }

    vaadin-text-field {
      --vaadin-input-field-border-width: 1px;
      --vaadin-input-field-border-color: var(--primary-color);
      --lumo-contrast-10pct: transparent;
      --lumo-contrast-60pct: var(--primary-color);

      margin-left: auto;


      &::slotted(input) {
        font-weight: lighter !important;
      }
    }

  }
}