@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin center($size) {
  line-height: $size;
  text-align: center;
}

@mixin secondary-contrast {
  background-color: var(--secondary-color);
  color: var(--contrast-text-color);
}