grid-component {

  width: 100%;
  padding: calc(2 * var(--sunshower-em));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(2*var(--sunshower-em));
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  overflow-y: auto;
}